@use "./colors.scss";

div.bg {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--color-bg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

div.cover {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-bg);
	transition: background 0.2s ease-in;
}
