:root {
	--color-bg: rgb(255, 255, 255);
	--color-bg-h: rgb(235, 235, 235);
	--color-on-bg: rgb(0, 0, 0);
	--color-on-bg-h: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: rgb(43, 42, 51);
		--color-bg-h: rgb(63, 62, 71);
		--color-on-bg: rgb(255, 255, 255);
		--color-on-bg-h: rgb(255, 255, 255);
	}
}
